@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Jetbrains Mono";
    /* src: local("NovaMono") url("../src/assets/fonts/IOSEVKA-MEDIUM.TTF");
   */
    src: local("Jetbrains Mono"), url("../src/assets/fonts/jetbrainsmono-regular.ttf");
  }
  @font-face {
    font-family: "Iosevka Slab";
    /* src: local("NovaMono") url("../src/assets/fonts/IOSEVKA-MEDIUM.TTF");
   */
    src: local("Iosevka Slab Light"), url("../src/assets/fonts/IosevkaSlab-Light.ttf");
  }
  .animate-rotate {
    transition: all;
    animation: animate-rotate;
    -webkit-animation: animate-rotate;
  }
  @keyframes animate-rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  .selector {
    @apply text-selector;
  }
}

@layer components {
  #logos {
    width: 70%;
    &::after,
    &::before {
      top: 0;
      width: 250px;
      height: 100%;
      content: "";
      z-index: 2;
      display: block;
      position: absolute;
    }
    &::before {
      left: 0;
      background: linear-gradient(to left, #282c3400, #282c34);
    }
    &::after {
      right: 0;
      background: linear-gradient(to right, #282c3400, #282c34);
    }
    & > div {
      margin-top: 20px;
      display: inline-block;
      animation: slide 15s linear infinite;
      -webkit-animation: slide 15s linear infinite;
      & > img {
        display: inline-block;
        margin: 20px;
      }
    }
  }
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  #button {
    @apply font-JetbrainsMono mt-6 ml-4 text-[#61A9D575] hover:text-[#61A9D5] cursor-pointer inline-block transition-colors duration-200;
  }
  #button::before {
    content: "";
    height: 2px;
    border-radius: 100px;
    width: 100%;
    background: #61a9d5;
    display: block;
    position: relative;
    top: 30px;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform .2s linear;
    -webkit-transition: transform .2s linear;
    -moz-transition: transform .2s linear;
    -ms-transition: transform .2s linear;
    -o-transition: transform .2s linear;
    transform-origin: left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
  #button:hover::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
  #button:hover svg {
    margin-left: 20px;
  }
}
