@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Jetbrains Mono";
    /* src: local("NovaMono") url("../src/assets/fonts/IOSEVKA-MEDIUM.TTF");
   */
    src: local("Jetbrains Mono") url("../src/assets/fonts/jetbrainsmono-regular.ttf");
  }
  @font-face {
    font-family: "Iosevka Slan";
    /* src: local("NovaMono") url("../src/assets/fonts/IOSEVKA-MEDIUM.TTF");
   */
    src: local("Iosevka Slab") url("../src/assets/fonts/IosevkaSlab-Regular.ttf");
  }
  .animate-rotate {
    transition: all;
    animation: animate-rotate;
    -webkit-animation: animate-rotate;
  }
  @keyframes animate-rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  #logos {
    width: 70%;
    &::after,
    &::before {
      top: 0;
      width: 250px;
      height: 100%;
      content: "";
      z-index: 2;
      display: block;
      position: absolute;
    }
    &::before {
      left: 0;
      background: linear-gradient(to left, #282c3400, #282c34);
    }
    &::after {
      right: 0;
      background: linear-gradient(to right, #282c3400, #282c34);
    }
    & > div {
      margin-top: 20px;
      display: inline-block;
      animation: slide 15s linear infinite;
      -webkit-animation: slide 15s linear infinite;
      & > img {
        display: inline-block;
        margin: 20px;
      }
    }
  }
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
